section{
    h3{
        background-color: #C4C4C4;
        letter-spacing: 5px;
        color: #005677;
    }
    ul {
        li {
            span {
                font-weight: 400;
            }
        }
    }
}