@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header */

.head1 {
    background-color: #1CD1B0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: auto;
}
.head2 {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 28px;
    background-color: #00669F;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    box-shadow: 0px 6px 4px 1px rgba(0, 0, 0, 0.25);
    width: auto;
}

/* Body */
/* main {
    margin: auto;
    width: 90%;
    padding-bottom: 50px;
    margin-top: 100px;
} */

.container {
    width: 300px;
    height: 527px;
    background-color: #F3F3F3;
    background-image: url(../img/fondoCardBatman.png);
    background-position: top;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    margin-top: 154px;
    margin-left: 32px;
    box-shadow: 0px 2px 6px 0px grey;

}
.imgCorazon{
    position:absolute;
    top: 15px;
    left: 21px;

}
.fotoBatman {
    border-radius: 60px;    
    position: absolute;
    top: 128px;
    left: 90px;
}


h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    top: 240px;
    left: 89px;
}


.text1 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    top: 312px;
}
a {
    color: white;
    text-decoration: none;
    background-color: #00669F;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 15px 37px;
    position: absolute;
    left: 85px;
    bottom: 18px;
}

.container2 {
    width: 300px;
    height: 527px;
    background-color: #F3F3F3;
    background-image: url(../img/fondoHarley.png);
    background-position: top;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    margin-top: 154px;
    margin-left: 32px;
    box-shadow: 0px 2px 6px 0px grey;    
}
.fotoHarley {
    border-radius: 60px;    
    position: absolute;
    top: 128px;
    left: 90px;
}

.hq {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    top: 240px;
    left: 65px;
}

.text2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    top: 312px;
}

.container3 {
    width: 300px;
    height: 527px;
    background-color: #F3F3F3;
    background-image: url(../img/fondoCardBatman.png);
    background-position: top;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    margin-top: 154px;
     margin-left: 32px; 
    box-shadow: 0px 2px 6px 0px grey;
}

/* Footer */
footer {
    background-color: #00669F;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-top: 16px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    width: auto;
}