@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
}

/* Header */
header{
    background-color: rgb(226, 228, 232);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: rgba(63, 91, 114, 0.486);
}

.head1{
    font-weight: 800;
    font-size: 40px;
}

header nav ul{
    display: flex;
    list-style-type: none;
}

nav li{
    margin-right: 13px;
    padding-right: 10px;
}

nav{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
}

/* Body */
body{
    background-color: rgba(224, 228, 233, 0.486);
    font-weight: 400;
}

h2 {
    padding: 10px;
}

.caja{
    border-radius: 5px;
    background-color: #e4eaec;
    margin: 20px 10px;
    width: 300px;
    height: 600px;
    display: flex;
    display: inline-block;
    padding: 10px;
}

.caja>h3 {
    color: rgba(63, 91, 114, 0.486);
    /*margin: 20px;*/
}

.caja a {
    text-decoration: none;
    font-weight: 800;
    color:rgb(65, 105, 121);
    display: flex;
    background-color: rgba(207, 217, 221);
    padding: 15px 37px;
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    flex-direction: column;
}

/*Footer*/