@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: $fondo-pr;
}

a{
    text-decoration: none;
}