@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header */
header{
    background-color:#E5E5E5;
    text-align: center;
}

h1{
    background-color: #C4C4C4;
    color: #657f86;
    letter-spacing: 10px;
    word-spacing: 10px;
    text-transform: uppercase;
}

/* Main */
.container {
    margin: 40px auto;
    width: 70%
}

h2{
    background: #e9e9e9;
    letter-spacing: 5px;
    color: #657f86;
}

span{
    Font-weight: 900;
}

.personal span{
    Font-style: italic
}

/* Footer */
footer{
    background-color: #005677;
    color: #ffffff;
    text-align: center;
}

